<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if(products.length){ %>
      <div class="grid">
        <% products.forEach(product => { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %></h1>
          </header>
          <div class="card__image img">
            <img
              src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg"
              alt="a book"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$Free.99</h2>
            <p class="product__description">Another hit!</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
        <% }) %>
      </div>
      <% } else { %>
      <h1>No Products Found</h1>
      <% } %>
<%- include('../includes/end.ejs') %>